* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
}
.button {
  width: 50px;
}
