* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
