:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 95%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
}

body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
}

.background {
  width: 50vh;
  height: auto;
  border-radius: 4px;
  background-color: #ffa94d;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* gap: 30px; */
}

.form-text {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 4px;
}

.count {
  display: flex;
  align-items: center;
  /* width: 100%; */
  gap: 8px;
}

.button {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.input {
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.classAddItem {
  display: flex;
  align-items: center;
}

.Items {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

.Item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.checkedItem {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 4px;
  text-decoration: line-through;
}
